{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .center {
        text-align: center;
        margin: 0 auto;
    }

    .center img {
        display: inline-block;
        width: 100%;
    }

    .center--one img {
        max-width: 300px;
    }

    .center--two img {
        max-width: 600px;
    }

    .center--three img {
        max-width: 900px;
    }
</style>

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <p class="mb-4"></p>
            <h4><strong>Руководство пользователя</strong></h4>
        </div>
    </div>

    <h5>
        <strong>НАЗНАЧЕНИЕ СИСТЕМЫ</strong>
    </h5>
    <p>
        Система Corporate Money Control – корпоративный учет финансов (CMC)
        предназначена для автоматизации процесса оперативного учета финансов малого
        и среднего бизнеса. Основными пользователями системы предполагаются
        сотрудники, которые напрямую взаимодействуют с денежными средствами
        компании.
    </p>
    <p>
        Мобильное ПО позволяет учитывать доходы и расходы членов компании с
        указанием категорий расходов и примечаний в виде тегов. Вместе с тем,
        функционал программного продукта дает возможность руководителю отслеживать
        состояние счетов сотрудников компании, формировать отчеты доходов и
        расходов за определённый период по категориям и тегам. Более подробно о
        каждом элементе приложения:
    </p>
    <ul>
        <li>
            счет в программе является отображением всех средств компании у
            руководителя и личных средств у сотрудника. Система счетов позволяет
            контролировать все движения денежных средств компании.
        </li>
        <li>
            отчетность – влияет на увеличение экономических выгод в результате
            поступления активов и погашения обязательств, приводящие к увеличению
            капитала этой организации;
        </li>
        <li>
            расходы организации — это уменьшение экономических выгод в результате
            выбытия активов или возникновение обязательств, приводящее к уменьшению
            капитала организации. Расходы организации представляют собой
            совокупность использованных ею средств, относящихся к активам, если они
            способны приносить доходы в будущем, или к пассивам, если этого не
            произойдет, то есть доходы организации уменьшатся;
        </li>
        <li>
            категория — предельно общее понятие, выражающее наиболее существенные
            отношения действительности. То есть обобщающие понятия, для
            определенных видов товара, услуг, и т.д.
        </li>
        <li>
            тег— уточняющий фактор расходов или доходов. Также может использоваться
            для обозначения операций, относящиеся к конкретному клиенту или
            поставщику;
        </li>
        <li>
            отчет о финансовых результатах – это одна из разновидностей финансовой
            отчетности предприятия, которая показывает результаты деятельности
            компании за отдельные период времени. При составлении отчета необходимо
            достоверно отразить финансовое состояние предприятия и, если этих
            данных недостаточно, то требуется использовать дополнительные
            показатели и пояснения.
        </li>
    </ul>
    <h5>
        <strong>НАЧАЛО РАБОТЫ / РЕГИСТРАЦИЯ</strong>
    </h5>
    <p>
        Новым пользователям необходимо пройти регистрацию, для этого пройдите по
        ссылке “Зарегистрироваться” Экран регистрации представлен на рисунке 1.
    </p>
    <div class="center center--one">
        <p>
            <img src="{% static 'images/manual/image001.png' %}" />
        </p>
        <p>
            Рисунок 1 – Стартовый экран
        </p>
    </div>
    <p>
        При регистрации необходимо указывать актуальный адрес электронной почты,
        так как туда придет письмо с подтверждением.
    </p>
    <div class="center center--one">
        <p>
            <img src="{% static 'images/manual/image002.png' %}" />
        </p>
        <p>
            Рисунок 2 – Регистрация в приложении при первом входе
        </p>
    </div>
    <p>
        На почту придет письмо с подтверждением, может попасть в СПАМ, переходим по
        указанной ссылке и нажимаем «Подтвердить».
    </p>
    <div class="center center--one">
        <p>
            <img src="{% static 'images/manual/image003.png' %}" />
        </p>
        <p>
            Рисунок 3 – Подтверждение регистрации
        </p>
    </div>
    <p>
        Регистрация прошла успешно! Переходим обратно в приложение и осуществляем
        вход. Новым пользователем необходимо создать профиль сотрудника. С этими
        данными Вас будут видеть другие сотрудники Вашей организации.
    </p>
    <div class="center center--one">
        <p>
            <img src="{% static 'images/manual/image004.png' %}" />
        </p>
        <p>
            Рисунок 4 – Создание профиля компании
        </p>
    </div>
    <h5>
        <strong>Создание компании</strong>
    </h5>
    <p>
        Следующим этапом нужно определиться с компанией. Если Вы – руководитель
        организации, то Вам необходимо ввести произвольное название своей компании
        и нажать на кнопку «Создать компанию». Если же Вы – сотрудник, предоставьте
        руководителю приложения данные Вашего профиля: ID пользователя и номер
        телефона. После того, как Вы будете добавлено в компанию, необходимо будет
        повторно зайти в приложение.
    </p>
    <div class="center center--one">
        <p>
            <img src="{% static 'images/manual/image005.png' %}" />
        </p>
        <p>
            Рисунок 5 – Менеджер компании
        </p>
    </div>
    <h5>
        <strong>ГЛАВНЫЙ ЭКРАН ПРИЛОЖЕНИЯ</strong>
    </h5>
    <div class="center center--one">
        <p>
            <img src="{% static 'images/manual/image006.png' %}" />
        </p>
        <p>
            Рисунок 6 – Главный экран приложения
        </p>
    </div>
    <p>
        На главном экране отображается существующие объекты взаимодействия: счета,
        категории, теги, операции. Категории и теги видны всем членам компании.
        Каждому сотруднику отображаются только его счета и операции. Если сотрудник
        – руководитель, то он видит все операции, а баланс счетов считается как
        баланс всей компании.
    </p>
    <p>
        При нажатии на какой-либо объект, счет, категория, тег или операция, Вы
        будете перенаправлены на экран «Операции». На данном экране будут показаны
        только те операции, в которых присутствуем выбранный Вами параметр.
    </p>
    <p>
        Для того, чтобы можно было вносить какие-либо операции, необходимо создать
        счет. Для этого снизу в меню выбираем вкладку «Еще», далее «Счета».
    </p>
    <div class="center center--one">
        <p>
            <img src="{% static 'images/manual/image007.png' %}" />
        </p>
        <p>
            Рисунок 7 – Меню приложения
        </p>
    </div>
    <h5>
        <strong>Добавление счета</strong>
    </h5>
    <p>
        Название счета служит для его дальнейшего отображения в общем списке счетов
        компании. Каждый сотрудник может осуществлять операции только со своих
        счетов, также ему будут отображать только его операции или операции
        перевода, когда действия происходят между сотрудниками.
    </p>
    <div class="center center--one">
        <p>
            <img src="{% static 'images/manual/image008.png' %}" />
        </p>
        <p>
            Рисунок 8 – Меню приложения
        </p>
    </div>
    <p>
        У руководителя имеется возможность управлять всеми счетами сотрудников.
    </p>
    <p>
        Вкладка «Команда» в основном предназначена для руководителя, штатный
        сотрудник здесь может увидеть только список существующих сотрудников
        организации. Руководитель имеет следующие возможности:
    </p>
    <ul>
        <li>
            просматривать информацию сотрудника (счета, операции);
        </li>
        <li>
            добавлять новых сотрудников;
        </li>
        <li>
            удалять существующих.
        </li>
    </ul>
    <div class="center center--three">
        <p>
            <img src="{% static 'images/manual/image009.png' %}" />
        </p>
        <p>
            Рисунок 9 – Добавление сотрудника
        </p>
    </div>
    <h5>
        <strong>Добавление дохода</strong>
    </h5>
    <p align="left">
        Доход может осуществляться в момент приема денежных средств у клиентов. При
        пополнении счета из средств организации, должна быть выполнена операция
        «Перевод».
    </p>
    <p align="left">
        Чтобы открыть экран добавления дохода нажните на синюю кнопку с «+» далее
        выберите «Доход». Операцию можно создавать с любого экрана, где доступна
        кнопка.
    </p>
    <div class="center center--two">
        <p>
            <img src="{% static 'images/manual/image010.png' %}" />
        </p>
        <p>
            Рисунок 10 – Добавление дохода
        </p>
    </div>
    <h5>
        <strong>Добавление расходов</strong>
    </h5>
    <p align="left">
        Расход может осуществляться в момент покупок чего-либо или при расчете
        с поставщиком.
    </p>
    <p align="left">
        Чтобы открыть экран добавления расхода нажните на синюю кнопку с «+» далее
        выберите «Расход». Операцию можно создавать с любого экрана, где доступна
        кнопка.
    </p>
    <div class="center center--two">
        <p>
            <img src="{% static 'images/manual/image011.png' %}" />
        </p>
        <p>
            Рисунок 11 – Добавление расходов
        </p>
    </div>
    <p align="left">
        Если данные на главном экране или каком-то другом не обновились, можно
        сделать обновление данных. Для этого в правом верхнем углу нажмите на «Три
        точки», затем «Обновить».
    </p>
    <div class="center center--one">
        <p>
            <img src="{% static 'images/manual/image012.png' %}" />
        </p>
        <p>
            Рисунок 12 – Обновление данных
        </p>
    </div>
    <h5>
        <strong>Операция перевода</strong>
    </h5>
    <p align="left">
        Перевод может осуществлять как между своими счетами, так и между счетами
        сотрудников.
    </p>
    <p align="left">
        Чтобы открыть экран добавления дохода нажните на синюю кнопку с «+» далее
        выберите «Перевод». Операцию можно создавать с любого экрана, где доступна
        кнопка.
    </p>
    <div class="center center--two">
        <p>
            <img src="{% static 'images/manual/image013.png' %}" />
        </p>
        <p>
            Рисунок 13 – Операция перевода
        </p>
    </div>
    <p>
        Рядом с Вашим профилем будет расположена иконка «руки», которая выделяет
        Вас из списка. Профиль руководителя выделен иконкой «Звезда» на всех
        экранах.
    </p>
    <h5>
        <strong>Отображение операций</strong>
    </h5>
    <p>
        Если на экране «Операций», в левом верхнем углу значок «фильтр» горит синим
        цветом, значит данные отфильтрованы. Чтобы сбросить фильтр нажинайте на
        этот значок.
    </p>
    <div class="center center--two">
        <p>
            <img src="{% static 'images/manual/image014.png' %}" />
        </p>
        <p>
            Рисунок 14 – Отображение операций
        </p>
    </div>
    <p>
        Также все данные в любой момент можно отфильтровать по дате. Для этого
        нажмите на надпись с датой и выберите необходимый период.
    </p>
    <h5>
        <strong>Создание тегов и категорий</strong>
    </h5>
    <p>
        Добавить Категорию или Тег может любой сотрудник организации. Сделать это
        можно через вкладку «Еще» в нижнем меню или перейдя из<strong> </strong>
        главного экрана по стрелке.<strong></strong>
    </p>
    <div class="center center--two">
        <p>
            <img src="{% static 'images/manual/image015.png' %}" />
        </p>
        <p>
            Рисунок 15 – Создание категории
        </p>
    </div>
    <h5>
        <strong>Отчеты</strong>
    </h5>
    <p>
        Формирование отчетности производится по Доходам и расходам с указанием
        следующих параметров:<strong></strong>
    </p>
    <ul>
        <li>
            Период
        </li>
        <li>
            Сотрудник (руководитель имеет возможность выбирать любого сотрудника)
        </li>
        <li>
            Счета сотрудника
        </li>
        <li>
            Категории
        </li>
        <li>
            Теги
        </li>
    </ul>
    <p>
        Для формирования отчета переходим на вкладку «Еще» кнопка «Сформировать
        отчет».
    </p>
    <div class="center center--two">
        <p>
            <img src="{% static 'images/manual/image016.png' %}" />
        </p>
        <p>
            Рисунок 16 – Экран отчетности
        </p>
    </div>
    <p>
        Фильтрация происходит по операциям, где параметры совпадают с указанными в
        фильтре. Период формируется по месяцам текущего года.
    </p>
</div>
{% endblock %}