{% extends "base.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Corporate Money Control</h1>
    <p>Corporate Money Control – мобильные приложения для автоматизации профессиональной деятельности, существенно облегчают и автоматизируют экономические, технические, аналитические процессы, повышая скорость и снижая время и средства на проведение различного рода операций.</p>
    <p>
        <a target="_blank" href="https://expo.io/@n1kko777/moneycontrol-rn-app" class="btn btn-primary">Скачать</a>
        <a target="_blank" href="https://yadi.sk/d/fy35hkK_r-EqFA" class="btn btn-success">Скачать APK-файл</a>
    </p>
</div>
{% endblock %}