{% extends "base.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Money Control</h1>
    <p>Money Control – мобильные приложения для автоматизации профессиональной деятельности, существенно облегчают и автоматизируют экономические, технические, аналитические процессы, повышая скорость и снижая время и средства на проведение различного рода операций.</p>
    <p><a target="_blank" href="https://expo.io/@n1kko777/moneycontrol-rn-app" class="btn btn-primary">Скачать</a></p>
</div>
{% endblock %}